.modal {
    background-color: rgba(255, 255, 255, .75);
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    
    &.active {
      display: flex;
    }
  
    .modal-content {
      background-color: rgb(255, 255, 255);
      border-radius: 8px;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin: 32px;
      padding: 32px;
    }
  }